---
import MainContent from "@components/MainContent.astro";
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
import { getEntry } from "astro:content";

const { data } = await getEntry("contact-hours-page", "contact-hours");
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title={data.seo.title} description={data.seo.description} />

  <TopNav>Contact et horaires</TopNav>

  <SideNav
    showIndexLink
    showPresentationLink
    showMenuLink
    showDayMenuLink
    showProgramationLink
  />

  <MainContent title="Contact et horaires">
    <ul mx-auto mt-8>
      <li text-primary>
        <a
          href={`tel:${data.phone.link}`}
          underline="~ offset-2"
          flex
          items-center
        >
          <i i-carbon-phone-filled block shrink-0 w-6 h-6 mr-4></i>

          <span>
            {data.phone.displayedText}

            <i i-carbon-launch inline-block ml-1 translate-y-0.75></i>
          </span>
        </a>
      </li>

      <li text-primary>
        <a
          href={`mailto:${data.email.link}`}
          underline="~ offset-2"
          flex
          items-center
          mt-8
        >
          <i i-carbon-email block shrink-0 w-6 h-6 mr-4></i>

          <span>
            {data.email.displayedText}

            <i i-carbon-launch inline-block ml-1 translate-y-0.75></i>
          </span>
        </a>
      </li>

      <li text-primary>
        <a
          href={data.address.link}
          target="_blank"
          underline="~ offset-2"
          flex
          items-center
          mt-8
        >
          <i i-carbon-location block shrink-0 w-6 h-6 mr-4></i>

          <span>
            {data.address.displayedText}

            <i i-carbon-launch inline-block ml-1 translate-y-0.75></i>
          </span>
        </a>
      </li>

      <li flex items-center gap-4 mt-8>
        <i i-carbon-calendar block shrink-0 w-6 h-6></i>

        {data.hours}
      </li>
    </ul>
  </MainContent>
</Layout>
