---
import CustomSeo from "@components/CustomSeo.astro";
import Logo from "@components/Logo.astro";
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { getEntry } from "astro:content";

const { data, render } = await getEntry("index-page", "index");
const { data: contactData } = await getEntry(
  "contact-hours-page",
  "contact-hours"
);

const { Content } = await render();
---

<dialog
  open
  z-3
  fixed
  inset-0
  max-w-120
  p-16
  rounded
  shadow
  text-center
  bg-background-gray
>
  <p text-primary flex items-center>
    <img src="/logo-restaurant-le-bouillon.svg" alt="" />
  </p>

  <p mt-4>
    Encore un peu de patience la brasserie est encore en travaux. Ouverture
    prochainement.
  </p>

  <p mt-4 font-italic>L'équipe du Bouillon des Eaux-Vives</p>

  <p mt-8>
    <script>
      document
        .getElementById("close-modal-button")
        ?.addEventListener("click", ({ currentTarget }) =>
          (currentTarget as Element).closest("dialog")?.removeAttribute("open")
        );
    </script>
    <button
      id="close-modal-button"
      type="button"
      bg-primary
      text-background-gray
      p="x-6 y-4"
      rounded>Découvrir le site</button
    >
  </p>
</dialog>

<Layout title="Welcome to Astro.">
  <CustomSeo
    slot="head"
    title={data.seo.title}
    description={data.seo.description}
  />

  <TopNav />

  <main
    grow
    text="center background-gray"
    bg-primary
    block
    flex="~ col"
    items-center
    justify-evenly
    gap-10
    py-8
    px-4
    overflow-y-auto
  >
    <p max-w-100 w-90% -translate-x-2>
      <Logo />
    </p>

    <h1 hidden>
      {data.seo.title}
    </h1>

    <h2 text-7 font-display>{data.headline}</h2>

    <div max-w-200>
      <Content />
    </div>

    <div>
      <ul flex items-center justify-center gap-4>
        <li>
          <a href={`tel:${contactData.phone.link}`} target="_blank">
            <i i-carbon-phone-filled block w-6 h-6></i>
          </a>
        </li>

        <li>
          <a href={`mailto:${contactData.email.link}`} target="_blank">
            <i i-carbon-email block w-6 h-6></i>
          </a>
        </li>

        <li>
          <a href={contactData.address.link} target="_blank">
            <i i-carbon-location block w-6 h-6></i>
          </a>
        </li>

        <li>
          <a href={contactData.instagram.link} target="_blank">
            <i i-carbon-logo-instagram block w-6 h-6></i>
          </a>
        </li>

        <li>
          <a href={contactData.facebook.link} target="_blank">
            <i i-carbon-logo-facebook block w-6 h-6></i>
          </a>
        </li>

        <li>
          <a href={contactData.linkedin.link} target="_blank">
            <i i-carbon-logo-linkedin block w-6 h-6></i>
          </a>
        </li>
      </ul>

      <p mt-4>{contactData.hours}</p>
    </div>
  </main>
</Layout>

<SideNav
  showPresentationLink
  showMenuLink
  showDayMenuLink
  showProgramationLink
  showContactLink
  showLegalLink
/>

<style>
  main :global(*::selection) {
    background-color: var(--secondary-blue);
    color: var(--primary);
  }
</style>
