---
import youthMedium from "./youth-medium.otf";
// import youthBold from "./youth-medium.otf";
import qanelasMedium from "./qanelas-medium.otf";
// import qanelasSemiBold from "./qanelas-semi-bold.otf";
import qanelasBold from "./qanelas-bold.otf";
import "./global.css";
---

<!doctype html>
<html lang="fr" h-full md:overflow-y-hidden>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="preload"
      href={youthMedium}
      as="font"
      type="font/otf"
      crossorigin
    />

    <!-- <link
      rel="preload"
      href={youthBold}
      as="font"
      type="font/otf"
      crossorigin
    /> -->

    <link
      rel="preload"
      href={qanelasMedium}
      as="font"
      type="font/otf"
      crossorigin
    />

    <!-- <link
      rel="preload"
      href={qanelasSemiBold}
      as="font"
      type="font/otf"
      crossorigin
    /> -->

    <link
      rel="preload"
      href={qanelasBold}
      as="font"
      type="font/otf"
      crossorigin
    />

    <slot name="head" />
  </head>
  <body
    font-body
    font-normal
    text-gray-7
    flex="~ col md:row"
    min-h-full
    md:h-full
  >
    <slot />
  </body>
</html>
